{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "react/jsx-uses-react": 1
  }
}